body {
  font-family: Arial, sans-serif;
}
.container {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}
.card {
  background-color: #ddd;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  height: 200px;
  width: 250px;
}

.card h1 {
  color: rgb(86, 93, 100);
}
button {
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 8px;
  text-align: center;
}
button:hover {
  padding: 6px 9px;
  cursor: pointer;
}
